.ImageContent{
    display: flexbox;
    height: 35em;
}
.principalImage{
    display: flex;
    justify-content: center;
}

.TextH1{
    align-content: center;
    filter: brightness();
}
.containButtons{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.counterId{
    text-align: center;
}